wheel
APScheduler==3.6.3
backports.zoneinfo==0.2.1
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.12
feedparser==6.0.8
idna==3.3
importlib-resources==5.4.0
pkg-resources==0.0.0
pyaes==1.6.1
pyasn1==0.4.8
python-telegram-bot==13.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
rsa==4.8
sgmllib3k==1.0.0
six==1.16.0
telebot==0.0.4
Telethon==1.24.0
tornado==6.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
zipp==3.6.0
